.words {
  width: 92%;
  margin: 2%;
  padding: 2%;
  background-color: #FFCACA;
}

.Story {
  width: 92%;
  margin: 2%;
  padding: 2%;
  background-color: #FF6868;
  opacity: 1;
}

h2 {
  text-align: center;
}

#storybutton {
  background-color: #FF9191;
  width: 92%;
  margin: 2%;
  padding: 2%;
  text-align: center;
}

body {
  font-family: fantasy;
}

#button {
  font-family: fantasy;
  background-color: white;
  padding: 1%;
  font-size: 100%;
}

#paragraph {
  opacity: 0;
}

#title {
  background-color: #FFEFEF;
  width: 92%;
  margin: 2%;
  padding: 2%;
  text-align: center;
  font-size: 200%;
}
